:root {

    --ffffff: #ffffff;
    --878080: #878080;
    --000000: #000000;
    --d9d9d9: #d9d9d9;
    --1336b1: #1336b1;
    --color-6: #878080;
    --1e1e1e: #1e1e1e;
    --color-bg: var(--000000);

    --color-text: var(--ffffff);
    --color-text-light: var(--878080);
    --color-primary: var(--1336b1);
    --color-border: var(--1e1e1e);

    --font-sans: "Inter", sans-serif;

    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 4rem;
    --radius-sm: 4px;
}

:root {
    --font-sans: "SF Compact Rounded", "Nunito", sans-serif;
}

body {
    font-family: "SF Compact Rounded", "Nunito", sans-serif;
}