
.footer {
    background-color: #070606; 
    color: white;
    padding: var(--space-3xl) var(--space-xl);
    
    margin-top: 60px; 
    border: none;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    gap: 0; 
    
    text-align: left;
}

.footer__logo {
    display: block; 
    margin-bottom: 20px;
}

.footer__logo img {
    height: 46px; 
    width: auto; 
    object-fit: contain;

    margin-left: 5px; 
}

.footer__nav {
    width: 100%;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__list a {
    color: white;
    font-size: 1.4rem; 
    text-decoration: none;
    line-height: 0.9;
    transition: opacity 0.3s ease;
    margin-left: 10px;
}

.footer__list a:hover {
    opacity: 0.7; 
}

.footer__bottom {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end; 
    margin-top: 10px;
}

.footer__left-group {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    gap: 15px;
    
    
    margin-left: 7px;
    padding-right: 15px;
}

.footer__desc {
    flex: 1; 
    font-size: 1rem;
    color: #cccccc; 
    line-height: 1.1;
    margin: 0;
}

.footer__social {
    display: flex;
    gap: 15px; 
    align-items: center;
}

.footer__social a {
    display: block; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer__social img {
    width: 30px; 
    height: auto;
    display: block;
}

.footer__social a:hover {
    transform: translateY(-3px);
    opacity: 0.8;
}

.footer__scroll-top {
    display: block;       
    flex-shrink: 0;       
    text-decoration: none;
    cursor: pointer;      
}

.footer__big-img {
    width: 150px; 
    flex-shrink: 0; 
    height: auto;
    display: block;
    transform: translateY(10px);
}