.section--projects {
    margin-top: var(--space-3xl); 
    padding-bottom: var(--space-3xl);
}

.section__header {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
}

.section__title {
    font-size: 2.5rem; 
    font-weight: 700;
    color: var(--color-text);
    margin-bottom: 10px;
}

.section__desc {
    font-size: 1rem;
    color: var(--color-text-light); 
    max-width: 600px;
}

.carousel {
    display: flex;
    gap: 20px; 

    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    
    padding: 30px 10px; 
    margin-top: -20px;
    margin-bottom: 60px;
        
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
}

.carousel::-webkit-scrollbar {
    display: none;
}


.carousel__link {
    flex: 0 0 auto;
    width: 85vw; 
    scroll-snap-align: center; 
    background: transparent;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.carousel__img {
    width: 100%;
    height: auto; 
    display: block; 
    border-radius: var(--radius-md);
}

.carousel__link:active {
    transform: scale(0.95); 
    transition: transform 0.1s; 
}

