.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    padding: 0;
    z-index: 1001; 
}

.menu-btn__bar {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-text);
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s;
}

.menu {
    position: fixed;
    inset: 0; 
    background-color: var(--color-bg);
    z-index: 1000;
    
    overflow-y: auto;
    
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 1;
    visibility: visible;

    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-top: 65px; 
    padding-left: 30px; 
}

.menu[hidden] {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu__container {
    max-width: 1200px;
    width: 100%;
}

.menu__title {
    font-size: 2.5rem; 
    font-weight: 400; 
    margin-bottom: 20px;
    color: var(--color-text);
}

.menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.menu__link {
    font-size: 1.2rem;
    color: var(--color-text);
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
}

.menu__link:hover {
    color: #cccccc; 
}

.menu__item--spacer {
    margin-top: 20px;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar:nth-child(2) {
    opacity: 0;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}