.bio-header {
    padding-top: 100px; 
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.bio-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 0.2;
}

.bio-subtitle {
    font-size: 1.4rem;
    color: var(--color-text-light);
    font-weight: 400;
}

.bio-profile {
    padding-top: 0;
    margin-top: 0;
}

.bio-profile__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bio-profile__img {
    width: calc(100% - 20px);
    margin: 0 auto;
    max-width: 500px;
    display: block;
}

.bio-infos__title {
    font-size: 2.5rem;
    margin-bottom: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-border);
    display: inline-block;

    padding-left: 10px;
    padding-right: 10px;
}

.bio-infos__list {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    color: #878080;

}

.bio-infos__list strong {
    color: #ffffff;
    font-weight: 600;
    margin-right: 5px;
}

.bio-text p, .bio-matilda p, .bio-spectro p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 70ch; 
    padding-left: 10px;
    padding-right: 10px;
}

.atom-container {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
    justify-content: center; 
    margin: 10px 0 10px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.atom-img {
    width: 150px; 
    height: auto; 
    display: block;
}

.atom-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 600;
}

.atom-symbol {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
}

.atom-name {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

.spectro-figure {
    margin: 40px 0;
    margin: 10px 0 40px 0;
    
    padding-left: 10px;
    padding-right: 10px;
    
    text-align: left; 
}

.spectro-main-title {
    display: block;        
    color: white;
    font-size: 2.5rem;     
    font-weight: 700;     
    line-height: 1.2;
}

.spectro-sub-title {
    display: block;        
    color: var(--color-text-light);
    font-size: 1.4rem;    
    font-weight: 400;     
    margin-bottom: 10px;  
}

.spectro-figure {
    margin: 40px 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.bio-matilda {
    margin-top: 40px; 
    margin-bottom: 60px;
    padding-left: 10px; 
    padding-right: 10px;
}


.bio-matilda .bio-section-title, 
.bio-matilda p {
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}

.bio-section-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    line-height: 1.1;
    margin-top: 0; 
}

.bio-matilda p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ffffff;
    max-width: 70ch;
}

.bio-matilda strong {
    color: #878080;
    font-weight: 600;
}

