/* src/css/layout/footer.css */

.footer {
    background-color: var(--1e1e1e);
    /* Gris foncé pour se distinguer du fond noir */
    padding: var(--space-3xl) var(--space-xl);
    margin-top: var(--space-3xl);
    border-top: 1px solid var(--color-text-light);
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centre tout (Logo, Liens, Crédits) */
    gap: var(--space-xl);
    text-align: center;
}

/* On réutilise la classe du logo mais on peut ajuster sa marge ici si besoin */
.footer__content .header__logo {
    margin-bottom: var(--space-sm);
    width: 100px;
    /* Un peu plus petit que dans le header */
}

.footer__nav {
    width: 100%;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.footer__link {
    color: var(--color-text-light);
    /* Gris */
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer__link:hover {
    color: var(--color-text);
    /* Blanc au survol */
    text-decoration: underline;
}

.footer__credits {
    font-size: 0.8rem;
    color: var(--color-text-light);
    opacity: 0.6;
    max-width: 400px;
    line-height: 1.4;
}

/* Version Ordinateur : Tout sur une ligne */
@media (min-width: 768px) {
    .footer__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }

    .footer__list {
        align-items: flex-start;
        /* Aligne les liens à gauche */
    }
}